# System and OS
.DS_STORE

# IDEs
.idea/

# Personal Configs
.env
.local-storage/
.legacy-storage/

# Dependencies
node_modules/

# Release assets
CHANGELOG.md
CHANGELOG_FULL.md
RELEASE_VERSION
RELEASE_CHANNEL

# Build Results and Caching
dist/
docs/_build/
apps/ha-plus-matter-hub/package.tgz
apps/ha-plus-matter-hub/README.md
apps/ha-plus-matter-hub/LICENSE

*.tsbuildinfo
tmp/
