name: Release

on:
  workflow_dispatch:
#  push:
#    branches:
#      - main
#      - beta
#  schedule:
#    - cron: "0 2 * * *"

permissions:
  contents: read

jobs:
  release:
    permissions:
      contents: write
      packages: write
      id-token: write
      issues: write
    name: Perform NPM Release
    runs-on: ubuntu-latest
    outputs:
      node-version: ${{ steps.setup.outputs.node-version }}
      release-version: ${{ steps.release.outputs.release-version }}
      release-channel: ${{ steps.release.outputs.release-channel }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Environment
        id: setup
        uses: ./.github/actions/setup-node

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm run lint
      - name: Test
        run: pnpm run test
      - name: Build
        run: pnpm run build

      - name: Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pnpm run release

      - name: Analyze Release
        id: release
        run: |
          RELEASE_VERSION=$([ -f RELEASE_VERSION ] && cat RELEASE_VERSION || echo '')
          RELEASE_CHANNEL=$([ -f RELEASE_CHANNEL ] && cat RELEASE_CHANNEL || echo '')
          if [ -z "$RELEASE_CHANNEL" ]; then
            RELEASE_CHANNEL=latest
          fi
          echo "release-version=$RELEASE_VERSION" >> "$GITHUB_OUTPUT"
          echo "release-channel=$RELEASE_CHANNEL" >> "$GITHUB_OUTPUT"
          cat "$GITHUB_OUTPUT"

      - name: Package Artifact
        uses: actions/upload-artifact@v5
        with:
          name: package.tgz
          path: apps/ha-plus-matter-hub/package.tgz
      - name: Upload Documentation
        if: steps.release.outputs.release-version != ''
        uses: actions/upload-pages-artifact@v4
        with:
          path: "./docs/_build/html"

  prepare-docker:
    name: "Prepare Docker"
    runs-on: ubuntu-latest
    outputs:
      dockerfiles: ${{ steps.dockerfiles.outputs.dockerfiles }}
    steps:
      - uses: actions/checkout@v6
      - name: Find Dockerfiles
        id: dockerfiles
        uses: ./.github/actions/find-dockerfiles

  docker:
    name: "Build Docker"
    runs-on: ubuntu-24.04-arm
    needs: [prepare-docker, release]
    if: needs.release.outputs.release-version != ''
    permissions:
      packages: write
    strategy:
      matrix:
        dockerfile: ${{ fromJSON(needs.prepare-docker.outputs.dockerfiles) }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup Docker
        uses: ./.github/actions/setup-docker

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Package Artifact
        uses: actions/download-artifact@v6
        with:
          name: package.tgz
          path: apps/ha-plus-matter-hub/
          merge-multiple: true

      - name: Build Docker
        uses: ./.github/actions/docker
        with:
          push: true
          channel: ${{ needs.release.outputs.release-channel }}
          dockerfile: ${{ matrix.dockerfile }}
          node-version: ${{ needs.release.outputs.node-version }}
          package-version: ${{ needs.release.outputs.release-version }}

  publish-pages:
    name: "Publish Documentation"
    runs-on: ubuntu-latest
    needs: [release]
    if: needs.release.outputs.release-version != '' && needs.release.outputs.release-channel == 'latest'
    permissions:
      id-token: write
      pages: write
    steps:
      - name: Deploy documentation to GitHub Pages
        uses: actions/deploy-pages@v4

  dispatch-repositories:
    name: "Dispatch Repositories"
    runs-on: ubuntu-latest
    needs: [release, docker]
    if: false && needs.release.outputs.release-version != ''
    steps:
      - name: Dispatch Addon Repository
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.ADDON_REPOSITORY_PAT }}
          repository: "t0bst4r/home-assistant-addons"
          event-type: release
          client-payload: |
            {
              "project": "hamh",
              "channel": "${{needs.release.outputs.release-channel}}",
              "version": "${{needs.release.outputs.release-version}}" ,
              "changelogUrl": "https://github.com/${{github.repository}}/releases/download/v${{needs.release.outputs.release-version}}/CHANGELOG_FULL.md"
            }
